<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfEmbarques.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="ConexionAzureSql"
    connectionString="Server=tcp:coplaca.database.windows.net,1433;Initial Catalog=Trazabilidad;Encrypt=True;TrustServerCertificate=False;"
    providerName="System.Data.SqlClient"/>
	</connectionStrings>
    <userSettings>
        <WpfEmbarques.My.MySettings>
            <setting name="EncryptedDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="EncryptedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="UsuarioSession" serializeAs="String">
                <value />
            </setting>
            <setting name="PwdSesion" serializeAs="String">
                <value />
            </setting>
            <setting name="clientIdBc" serializeAs="String">
                <value>9d97f179-bcdb-4620-b079-ec3d26cb1415</value>
            </setting>
            <setting name="clientSecret" serializeAs="String">
                <value>FT78Q~cnAhi-hMn-FjIWnx1W.PMreywcrZyxxcAW</value>
            </setting>
            <setting name="tenanId" serializeAs="String">
                <value>c036d0fb-e0d2-4094-920d-eaa0f8ecd5ce</value>
            </setting>
        </WpfEmbarques.My.MySettings>
    </userSettings>
</configuration>
